<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

        <!--display unordered list of all the jobs-->
        <!--loop over all the jobs.  Add loop syntax to the HTML element we want to repeat (th:each)-->

<!--naming it job listing.  th is the for loop.  for each job hashmap within jobs-->
    <table class ="job-listing" th:each="jobsHashmap : ${jobs}">
        <!--field in the jobHash-->
        <tr th:each="field : ${jobsHashmap}">
            <td th:text="${field.key}"></td>
            <td th:text="${field.value}"></td>
        </tr>
    </table>

            <!--display unordered list of all the jobs-->
            <!--loop over all the jobs.  Add loop syntax to the HTML element we want to repeat (th:each)-->
        <!--<ul>    -->
            <!--<div th:each="jobArray : ${jobs}">-->
                <!--<div class="container body-content" th:each="jobHash : ${jobArray}">-->
                    <!--<table th:text="${jobHash.key}", th:text="${jobHash.value}"></table>-->
                        <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ta></ta>&ndash;&gt;-->
                    <!--&lt;!&ndash;<table th:text="${jobHash.value}"></table>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; ${} tells thymeleaf to look in the model for this value named jobs (list) and will iterate over the list&ndash;&gt;-->
            <!--&lt;!&ndash;Whenever we're using the th:each attribute, we're basically telling thymeleaf to repeat the&ndash;&gt;-->
            <!--&lt;!&ndash;current element (li tag) for each item in the list&ndash;&gt;-->
            <!--<li th:each="jobs : ${jobs}" th:text="${jobs}"></li>-->
                <!--&lt;!&ndash;if no jobs are listed and its size is not zero then display message&ndash;&gt;-->
                <!--&lt;!&ndash;<<p th:unless="${jobs} and ${jobs.size()}">no jobs found :(</p>&ndash;&gt;-->
        <!--</ul>-->

    <!--test code for testing TO DO #1-->
    <!--<div class="container body-content">-->
        <!--<p th:text="${jobs}"></p>-->
    <!--</div>-->

</div>

</body>

</html>